@tailwind base;
@tailwind components;
@tailwind utilities;

.base-container {
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
}
